<html>

<head>
  <title>Login</title>
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <h1 class="display-1">Sign in</h1>

    <div class="card">
      <div class="card-body">
        <h3 class="card-title">In order to chat, you must be signed in</h3>
        <p class="card-text">Select the service you would like to sign in with:</p>
        <a class="card-link" href="/auth/openid-connect">Gogogo</a>
      </div>
    </div>
  </div>
</body>

</html>